<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>NCHU MOOCs | 常見問題</title></%block>

<header><h1>常見問題</h1></header>

<section class="static-container tos">

<h3>關於「NCHU MOOCs」</h3>
<p style="text-align: left;padding-left: 20px;padding-top: 20px; padding-bottom: 20px">
「NCHU MOOCs」為採用<a href="http://code.edx.org/">Open edX</a>所架設的磨課師(MOOCs)平台。主要服務對象為所有使用中文的教師與學習者，由專業的學校夥伴提供華語界一流的磨課師課程。
</p>

<h3>如何申請平台帳號，申請後就可已註冊課程或建立課程嗎？</h3>
<p style="text-align: left;padding-left: 20px;padding-top: 20px">
「NCHU MOOCs」提供：
</p>
	<ul>
		<li>正式平台：<a href="http://openedx.nchu.edu.tw">http://openedx.nchu.edu.tw</a></li>
	</ul>
<p style="text-align: left;padding-left: 20px; padding-bottom: 20px">
正式平台上的課程為正式對外公開的磨課師課程，由專業的學校夥伴所提供，所有人都可以自由參與。正式的課程請見「<a href="http://openedx.nchu.edu.tw">NCHU MOOCs</a>」。
</p>
</section>
