.outer-wrapper {
   visibility: hidden;
}


#su-footer .su-container {
  margin: 0 auto;
}

#su-footer .span2 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#su-footer .span10 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#su-footer .su-container:after {
  clear: both;
}


#su-footer .row:after {
  clear: both;
}

/* Background gradient */

#su-footer,
#su-footer .su-container {
  color: #e3dfd5;
  box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
}

/* Prevent flush left */

#su-footer a {
  color: #e3dfd5;
}

#su-footer a:hover {
  text-decoration: underline;
}

/* Prevent horizontal scroll bar */
#su-footer .su-container {
  padding: 3px 7px 20px;
}

#su-footer .su-container .su-row {
  margin: 30px 0 0;
}

/* Align logo and text */
#su-footer-logo {
  margin: 0 0 10px;
  padding: 0;
}

#su-footer-text {
  margin-top: 0;
}

#su-footer-text ul {
  margin: 2px 0 0;
  padding: 0;
  line-height: 1em;
}

#su-footer-text ul li {
  display: block;
  list-style: none;
}

#su-footer-text ul li a {
  font: 13px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-decoration: none;
}

#su-footer p.copyright {
  font: 11px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 30px 0 0;
  line-height: 1.5em;
  color: #e3dfd5;
}

#su-footer p.copyright span {
  color: #e3dfd5;
}

/* Footer two columns */
#su-footer .span2 {
  width: 48%;
  float: left;
}

#su-footer .span10 {
  width: 48%;
  float: right;
}

#su-footer img {
  margin: 0 auto;
  display: block;
}

/* Clear the floats */
#su-footer .clear {
  clear: both;
}
